* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

@font-face {
  font-family: poppins-bold;
  src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: poppins-semibold;
  src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: poppins-regular;
  src: url(../fonts/Poppins-Regular.ttf);
}


header, .service-page h2, .contact-box h2
,.contact-box p, .delivery,
  .delivery h4,
.our-services h4,
.our-services li,
.delivery p,footer .copyright,
footer .copyright,h3,
.service-box .learnmore,.address
{
  font-family: poppins-semibold;
}

.aboutUs p, .service-box p,.about h2,
.delivery-apps .ptext
 {
    font-family:poppins-medium;
  }

  

.yellow-button {
  background-color: #fdc72d;
  padding: 15px 20px;
  border-radius: 30px;
  text-align: center;
  font-family: poppins-semibold;
  display: inline-block;
  font-size: 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header,
h1,
.introduction,
.getStarted,
.aboutUs p,
h3 {
  font-size: 20px;
}

header {
  width: 100%;
  justify-content: space-around;
  padding: 50px 90px;

}

header a {
  color: #000000;
}
header nav {
  width: 50%;
}

.main-product {
  width: 90%;
  margin: 50px auto;
  justify-content: center;
}

.main-product-text {
  width: 40%;
  height: 722px;
}

.introduction {
  margin: 36px 0 52px 0;
  color: #777776;
  font-family: poppins-regular;
}

.main-product-text h2 {
  margin-top: 200px;
  font-size: 60px;
  font-family: poppins-bold;
}

.main-product-surati {
  /* background-color: black; */
  width: 60%;
  height: 722px;
  overflow: hidden;
}

.main-product-surati img {
  width: 100%;
  height: 100%;
}

/* ------about page styles */
.about {
  width: 80%;
  padding: 30px;
  margin: 0 auto;
}
.about-surati {
  width: 50%;
  height: 506px;
  overflow: hidden;
}

.about-surati img {
  width: 100%;
}
.aboutUs {
  width: 44%;
  height: 506px;
}

.aboutUs p {
  color: #777776;
}

.about h2 {
  margin-top: 100px;
  margin-bottom: 32px;
  font-size: 40px;
}

/* service page styleles 
----------------------------------- */
.service-page h2 {
  text-align: center;
  font-size: 40px;
}

.service-page .meore {
  margin-bottom: 88px;
}

.services {
  margin: 0 auto;
  /* background-color: blueviolet; */
  width: 90%;
  height: 400px;
}
.service-box {
  width: 400px;
  height: 400px;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 5px rgba(38, 50, 56, 0.2);
}

.service-box-surati {
  margin: 30px auto;
  width: 200px;
  height: 122px;
  overflow: hidden;
}
.service-box-surati img {
  width: 100%;
  height: 100%;
}

h3 {
  margin-top: 34px;
}

h3,
.service-box .learnmore {
}

.service-box p {
  font-size: 15px;
  color: #777776;
}

.service-box .learnmore {
  margin-top: 20px;
}
.service-box a {
  color: #000000;
}

.service-box p span {
  display: block;
}

.service-box .surati2 {
  width: 146px;
  height: 148pxx;
}

.service-box .surati3 {
  width: 152px;
  height: 143px;
}

/* --------------- */

.service-details {
  width: 80%;
  margin: 160px auto;
  /* background-color: #263238; */
}
.service-detai-surati {
  width: 50%;
  height: 500px;
  overflow: hidden;
}

.service-details-surati img {
  width: 100%;
}

.delivery-apps {
  width: 40%;
}

.delivery-apps h2 {
  text-align: left;
}
.delivery-apps p {
  /* margin: 28px 0 64px 0; */
  font-size: 20px;
}

.delivery-apps .ptext {
  color: #777776;
}

.apps-box {
  margin-top: 40px;
}

.apple-button {
  margin-right: 30px;
}

.delivery-apps p {
  font-size: 20px;
}
.delivery-apps p span {
  display: block;
}

/* --------------------------
CONTACT PAGE STYLES */
.contact-main {
}

.contact {
  width: 80%;
  margin: 140px auto;
}

.contact-box h2 {
  font-size: 40px;
}

.contact-box p {
  font-size: 20px;
  color: #777776;
  margin-top: 30px;
}

.contact-box .newline,
.delivery span {
  display: block;
}

.address {
  font-size: 20px;
  color: #777776;
}

.address .email {
  margin: 20px 0;
}

.address span {
  color: #000000;
}

.footer {
  height: 450px;
}

.footer-divs {
  width: 70%;
  height: 400px;
  margin: 0 auto;
  align-items: flex-start;
  padding-top: 100px;
}

.footer-divs li {
  margin: 20px 0 25px 0;
}

.delivery {
  font-size: 15px;
}

.delivery p {
  margin-top: 20px;
}

.delivery h4,
.our-services h4 {
  font-size: 20px;
  color: #000000;
}

.our-services li,
.delivery p {
  color: #777776;
  font-size: 15px;
}

.social p {
  margin-right: 40px;
  width: 26px;
  height: 22px;
}

footer .copyright {
  text-align: center;
  font-size: 15px;
  color: #777776;
}
